@import "tailwindcss";

.min-h-screen {
  background: hsla(197, 74%, 43%, 1);

  background: linear-gradient(
    90deg,
    hsla(197, 74%, 43%, 1) 0%,
    hsla(27, 81%, 58%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(197, 74%, 43%, 1) 0%,
    hsla(27, 81%, 58%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(197, 74%, 43%, 1) 0%,
    hsla(27, 81%, 58%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1C90BF", endColorstr="#EB8A3D", GradientType=1 );
}

header,
.job-box {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.job-box {
  border-radius: 20px;
  padding: 10px;
}
